<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="navbar">
            <div>
                <h1>Product Management</h1>
            </div>
            <div class="flex">
                <input type="button" class="button" value="Log out" />
            </div>
    </div>
    <div class="table-heading flex">
        <h2 style="color: #053d5d;margin-top: 20px;">All Products</h2>
        <div class="flex">
            <div class="dropdown add-button">
                <button class="dropbtn">All Categories</button>
                <div class="dropdown-content">
                    <a href="#">All Categories</a>
                    <a href="#">Headphones</a>
                    <a href="#">Flowers</a>
                </div>
            </div>
            <input type="button" class="outline-button" style="margin-bottom:10px" value="Filter By" />
        </div>
    </div>
    <table class="table">

        <tr>

            <th>Sl.No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Available Quantity</th>


        </tr>
        <tr>
            <td>1</td>
            <td>Nike shoe</td>
            <td>Rs.2000</td>
            <td>10%</td>
            <td>10</td>


        </tr>
        <tr>
            <td>2</td>
            <td>Nike shoe</td>
            <td>Rs.2000</td>
            <td>10%</td>
            <td>10</td>


        </tr>
        <tr>
            <td>3</td>
            <td>Nike shoe</td>
            <td>Rs.2000</td>
            <td>10%</td>
            <td>10</td>


        </tr>
        <tr>
            <td>4</td>
            <td>Nike shoe</td>
            <td>Rs.2000</td>
            <td>10%</td>
            <td>10</td>


        </tr>
        <tr>
            <td>5</td>
            <td>Nike shoe</td>
            <td>Rs.2000</td>
            <td>10%</td>
            <td>10</td>


        </tr>
    </table>






</body>

</html>