.checkbox{
    display: flex;
    height: 100%;
}
#checkBoxList{
    width: 100%;
}
#inputPassword{
     width: 30%;
     margin-right: 10px;
}
#slider{
    width:90%;
    margin-top: 10px;
}
#textField{
    width:95%;
}