<!DOCTYPE html>
<html>
<head>

</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<body>
    <div class="Wrapper">
        <h1 style="text-align: center;margin-top: 50px;color: #053d5d;">Product Management</h1>
        <div class="box">
            <h1 style="color: #053d5d;">Login</h1>
            <input type="text" class="input-field" placeholder="Username">
            <input type="password" class="input-field" placeholder="Password">
            <div class="flex">
                <a href="#">Remember me</a>
                <input type="button" class="button align-right login-button" style="margin-bottom: 30px;" value="Login" />
            </div>
        </div>
    </div>






</body>

</html>