

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f7f6f6;
    padding: 0;
    height: 100vh;
}
.navbar {
    background-color: white;
    padding: 10px;
}
.navbar h1 {
    color: #053d5d;
    margin-left: 30px;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-core {
    background-color: #053d5d;
    color: white;
}
.button {
    background-color: #053d5d;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.outline-button {
    background-color: transparent;
    color: #053d5d;
    padding: 10px;
    margin-top: 20px;
    border-style: ridge;
    border-radius: 5px;
    border: 2px solid #053d5d;
    cursor: pointer;
    font-size: 18px;
}
.add-button {
    margin-top: 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 30px;
}

a {
    color: #053d5d;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    margin-top: 30px;
}
a:hover {
    color: #053d5d;
}
.table {
    background-color: #c4c4c4;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    line-height: 40px;
}
.table-heading {
    width: 70%;
    margin: auto;
    margin-top: 100px;
}
th {
    background-color: #053d5d;
    color: white;
    text-align: center;
}
td {
    text-align: center;
    background-color: #ffff;
}
.add-icon {
    margin-top: 40px;
}
.box {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 3px 3px 40px #8888;
}
.input-field {
    width: 90%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.align-right {
    float: right;
    margin-right: 20px;
    margin-top: 0;
}
.dropbtn {
    background-color: #053d5d;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size: 12px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px !important;
}

.dropdown-content a:hover {
    color: #053d5d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #053d5d;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    margin-top: 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #053d5d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #053d5d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}